* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', serif;

  background-color: #dd691c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1f2022;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 600px;
}

h1 {
  text-align: center;
  color: #dadada;
  padding-bottom: 30px;
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #dadada;
  font-size: 18px;
}

input[type="text"],
select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(160, 160, 160); 
  background-color: #1f2022; 
  color: rgb(160, 160, 160);
  border-radius: 0; 
  outline: none; 
  font-family: 'Ubuntu', serif;
}

input[type="text"]::placeholder,
select::placeholder {
  color: white;
}

.input-button {
  text-align: center;
}

.input-button input[type="button"] {
  font-family: 'Ubuntu', serif;
  font-size: 16px;
}

input[type="button"] {
  background-color: #dd691c;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 18px 23px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

input[type="button"]:hover {
  background-color: #ac4500;

}

.checkbox-label {
  display: flex;
  align-items: center; 
}

.checkbox-label input[type="checkbox"] {
  margin-left: 14px;
}

input[type="checkbox"] {
  margin-top: 8px;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.05em;
  height: 1.05em;
  border: 0.15em solid #fff;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: #dd691c;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
